:root {
  --magenta: #fe142f;
  --green: #279e7a;
  --white: #fff;
  --black: #000;
  --grey: #232323;
  --light-grey: #ccc;
  --trans-grey: rgba(0, 0, 0, 0.1);
  --blue: rgba(26, 39, 156, 0.4);
  --cyan: #3876ac;
  --modal-duration: 0.8s;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--black);
}

* {
  box-sizing: border-box;
}

a:visited {
  color: var(--black);
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  background: var(--white);
}


/* HEADER */
.header-logo {
  float: left;
}

.topnav {
  margin: 3.5%;
  align-items: center;
}

.topnav > * {
  margin: 20px 0;
}

.main-navbar {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 12px 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.topnav a:hover, .topnav a.active {
  background-color: var(--magenta);
  color: var(--white);
  border-radius: 15px;
  text-decoration: underline;
  text-underline-offset: 7px;
}
/* Icon nav small screen < 768px */
.topnav .icon {
  display: none;
  color: var(--magenta);
  font-size: 40px;
}

/* FOOTER */
footer {
  margin: 20px;
  padding: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}

.copyrights {
  color: var(--magenta);
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
}


@media screen and (max-width: 768px) {
  .header-logo {
    margin-left: 20px;
  }
  .topnav {
    position: relative;
    margin-bottom: 10%;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .topnav.responsive {
    position: relative;
    margin-bottom: 10%;
  }
  .topnav.responsive a {
    display: block;
    position: relative;
    top: 70px;
    right: 20px;
    float: none;
    text-align: left;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}

 @media screen and (max-width: 540px) {
   .topnav.responsive a{
     top: -20px;
   }
}
